.Section-Contact {
  min-height: 86.1vh;
  width: 500px;
  margin: 0 auto;
}

.Section-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Section-Input{
  width: 100%;
  margin-bottom: 10px;
}

.Section-Title{
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.Section-Button {
  background-color: #5A2D82;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}